@font-face {
  font-family: "allura";
  src:
    url("../font/Allura-Regular.otf") format("opentype"),
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
	width: 100vw;
	padding: 0;
	margin: 0;
	background: linear-gradient(180deg, #4b6cb7 0%, #182848 100%);
	background-attachment: fixed;
}

#paper {
	box-shadow: 4px 4px 10px 3px rgba(0,0,0,0.5);;
	margin: auto;
	margin-top: 0.5em;
	border: 1px solid black;
  background-color: whitesmoke;
	width: 95vw;
}

main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1em;
}

#largecross {
	height: 2.5em;
	fill: #000000;
	justify-content: center;
}

.data {
	font-weight: bolder;
}

h1 {
	padding: 0;
	margin: 0;
	margin-bottom: -0.4em;
	font-size: xxx-large;
	text-align: center;
	font-family: "allura", serif;
}

h2 {
	padding: 0;
	margin-bottom: 0.5em;
	font-size: ;
	text-align: center;
	font-family: "allura", serif;
}

#deceased {
	height: 1em;
	width: 1em;
	display: inline;
	margin:0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

p:last-of-type {
	margin-top: 1em;
	font-size: small;
	text-align: center;
}

.quote {
	font-style: italic;
	display: block;
	text-align: center;
	margin: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-family: "allura", serif;
	font-size: 1.8em;
}

#family {
	margin: 0;
	margin-top: 2em;
	padding-left: 1em;
	font-size: 0.9em;
}
#family li{
	list-style: none;
	padding-left: 0;
}
